@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

*,
:after,
:before {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Muli";
}
*:focus {
  outline: none !important;
}
html {
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
  background-color: #f1f1f1;
}

audio,
iframe,
img,
object,
video {
  max-width: 100%;
}

iframe,
img {
  border: 0 none;
}

img {
  height: auto;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}
