.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
}
.card-container .card {
  padding: 15px;
  padding-bottom: 25px;
  background-color: #fff;
  border-radius: 4px;
  gap: 12px;
}

.card-container .img-container {
  background: #f1f1f1;
  height: 200px;
  margin-bottom: 15px;
}
.card-container span {
  margin-right: 10px;
}
.mission-name {
  color: #1e3799;
}
.mission-name,
.mission-id,
.launch-heading {
  margin-bottom: 12px;
}

.bold-text {
  font-weight: bold;
}

.mission-id ul {
  padding-left: 15%;
  margin-top: 5px;
}

/* divide 4 colum into 2*/
@media (max-width: 991px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
}

/* divide 2 colum into 1*/
@media (max-width: 600px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
}
