.filter-box {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.hr-line {
  border-bottom: 1px solid #dddddd;
  margin-top: 3px;
}

.filter-heading {
  font-size: 22px;
  line-height: 26px;
}

.filter-buttons {
  max-width: 265px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.radio-button {
  position: relative;
  overflow: hidden;
}
.radio-button input {
  position: absolute;
  left: -9999px;
}
.radio-button label {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #b8e994;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
}
.radio-button label.selected {
  background-color: #20bf6b;
}
.radio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.radio-child {
  flex-basis: 43%;
  margin-bottom: 20px;
}
