.laout_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.parent-container {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
}
.parent-container .filter {
  flex-basis: 24%;
}
.parent-container .programs-data {
  flex-basis: 74.5%;
}
.devloped-by {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

@media (max-width: 600px) {
  .parent-container {
    flex-direction: column;
  }
  .parent-container .filter {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .parent-container .programs-data {
    flex-basis: 73.5%;
  }
  .devloped-by {
    flex-direction: column;
  }
}
